.btn {
    border: 1px solid black;
}

.btn:active {
    background-color: #555;
    color: #fff;
}

.btn:hover {
    background-color: #ccc;
}

.btn_create-back-combined {
    display: inline flow-root;
}

.btn_edit {
    visibility: hidden;
}

.btn_delete {
    visibility: hidden;
}

.btn-group_rud {
    display: inline flow-root;
}

.table {
    border-collapse: collapse;
}

.table__tr-head:active,
.table__tr-head:hover {
    background-color: white;
    color: black;
}

.table__tr:active {
    background-color: #555;
    color: #fff;
}

.table__tr:hover {
    background-color: #ccc;
}

.table__tr_selected,
.table__tr_selected:hover {
    background-color: #aaa;
}

.table__th,
.table__td {
    border: 1px solid black;
    user-select: none;
}

.form {
    visibility: hidden;
}

.form__btn-submit {
    border: 1px solid black;
}

.form__btn-submit:active {
    background-color: #555;
    color: #fff
}

.form__btn-submit:hover {
    background-color: #ccc;
}

.form__input-text {
    border-radius: 0px;
}

.form__input-text_error {
    border-color: red;
}
